<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <img src="assets/images/logo.png" />
  </ion-slide>
  <ion-slide>
    <video autoplay src="assets/video/output_free.mp4">
    </video></ion-slide>

  <!--<ion-slide>
    <h2>Bienvenue chez LovEvent</h2>
    <p>Une application tout-en-pour gérer vos évenements</p>
  </ion-slide>
  <ion-slide>
    <h2>Faites le suivi des événements</h2>
    <p>Ne rien ratez avec LovEvent</p>
  </ion-slide>
  <ion-slide>
    <h2>Modifier les événements depuis n'importe ou </h2>
    <p>En tant que organisateur,
      Modifiez les informations comme le nom ou la description de
      l'événements ou les billets directements sur votre dispositif mobile</p>
  </ion-slide>-->
</ion-slides>